@model Images.Collect.Models.ProcessSummary

<h3>Summary</h3>
<p>
    <ul>
        <li>New records added: @Model.NewRecords.ToString()</li>
        <li>Total records stored: @Model.TotalRecords.ToString()</li>
        <li>Last Elapsed time: @Model.LastProcessTime.ToString()</li>
    </ul>

</p>
