@{
    ViewBag.Title = "Build Image Database";
}

<br />
<br />
<div class="container border marked">
        <fieldset>
            <div class="container center-block">
                <input id="btnCollect" class="btn btn-success" type="submit" value="Collect Data" />
                <span>&nbsp;</span>
                <input id="cbRecreate" type="checkbox" name="cbRecreate" />
                <span>Recreate Data</span><br />
            </div>
        </fieldset>

    <br />
    <br />
    <div id="divSummary" class="container marked">
    </div>

    <div id="divImages" class="container container-fluid marked">
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $('#divSummary').html('<p>Page ready</p>');
        $('#btnCollect').on('click', function (event) {
            $.ajax({
                url: 'Home/DataCollection',
                type: 'GET',
                dataType: 'html',
                data: { regenerate: $('#cbRecreate').is(':checked') },
                beforeSend: function () {
                    $('#divSummary').empty();
                    $('#divSummary').append('Processing...');
                },
                success: function (data) {
                    $('#divSummary').html(data);
                },
                error: function(jqXhr, textStatus, errorMessage) {
                    $('#summary').append('Error: ' + errorMessage);
                }
            });
        });
    });
</script>
    }
